@model SimpleStudents.Web.Models.Teachers.AddNewTeacherModel
@{
    ViewBag.Title = "Add new teacher";
}

<h2>Add new teacher</h2>

@using (Html.BeginForm("AddTeacher", "Teachers"))
{
    @Html.ValidationSummary(true, "Please fix the following problems")
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <h3>Assign courses</h3>
    <div class="form-group">
        @for (int i = 0; i < Model.SimplifiedCourseModels.Count; i++)
        {<div class="form-group">
            @Html.CheckBoxFor(m => m.SimplifiedCourseModels[i].IsSelected)
            @Html.Label(Model.SimplifiedCourseModels[i].CourseName)
            @Html.HiddenFor(m => m.SimplifiedCourseModels[i].Id)
            @Html.HiddenFor(m => m.SimplifiedCourseModels[i].CourseName)
        </div>
        }
    </div>
        <button type="submit" class="btn btn-primary">Add new teacher</button>
}