@model List<SimpleStudents.Web.Models.Students.StudentModel>

@{
    ViewBag.Title = "Students management";
}

<h2>Students</h2>

<div class="body-content">
    <table class="table tab-content">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Avarage mark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var studentModel in Model)
            {
                <tr>
                    <td>@(studentModel.FirstName)</td>
                    <td>@(studentModel.LastName)</td>
                    <td>@(studentModel.Email)</td>
                    <td>@(studentModel.AvarageMark)</td>
                </tr>
            }
    </table>
</div>

@Html.ActionLink("Add new student", "NewStudent", null, new {@class = "btn btn-primary"})